---

- name: Apply Network Policies
  hosts: localhost
  gather_facts: false

  vars_files:
    - vars/00_default.yml

  tasks:

    # Apply Network Policies to non-tenants
    - name: Run Network Policies Tasks for Non-Tenants
      ansible.builtin.include_tasks: 
        file: tasks/00_prepare_network_policy.yml
        apply:
          tags: ['network_policy', 'non_tenant']
      vars:
        tenant_net_pol: false
      no_log: true
      when: inv_network_policy.enable | bool
      tags: always

    # Apply Network Policies to tenants
    - name: Run Network Policies Tasks for Tenants
      ansible.builtin.include_tasks: 
        file: tasks/00_prepare_network_policy.yml
        apply:
          tags: ['network_policy', 'tenant']
      vars:
        tenant_net_pol: true
      loop: "{{ inv_tenants }}"
      loop_control:
        loop_var: tenant
      no_log: true
      when: inv_network_policy.enable | bool
      tags: always
