apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: snipe-it
  name: snipe-it
  namespace: "{{ env['K8S_NAMESPACE'] }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: snipe-it
  strategy: {}
  template:
    metadata:
      labels:
        app: snipe-it
    spec:
      containers:
      - image: "{{ env['IMAGE'] }}:{{ env['TAG'] }}"
        name: snipe-it
        resources: {}
        ports:
        - containerPort: 3001
        - containerPort: 3306