apiVersion: v1
kind: Service
metadata:
  labels:
    app: snipe-it
  name: snipe-it
  namespace: "{{ env['K8S_NAMESPACE'] }}"
spec:
  ports:
  - name: 3001-3001
    port: 3001
    protocol: TCP
    targetPort: 3001
  - name: 3306-3306
    port: 3306
    protocol: TCP
    targetPort: 3306
  selector:
    app: snipe-it
  type: ClusterIP
status:
  loadBalancer: {}
